# Mapbox Secret Token (for server-side navigation)
MAPBOX_SECRET_TOKEN=sk.eyJ1IjoiYXV0b3NvczEyMyIsImEiOiJjbWdvNTVkMXQweXlrMmpyNTRuMmtqcHN2In0.GcRVIJQCERTgm_AOizdffgt

# Server Configuration
PORT=5000
FLASK_ENV=production
